*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    padding-top: 50px;
}

.count{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.plus, .minus{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(82, 194, 8);
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 18px;
    cursor: pointer;
    border: 1px solid rgb(82, 194, 8);
    
}

.plus:hover, .minus:hover{
    background-color:  transparent;

    color: black;
}

.inputText{
    font-size: 20px;
}

input{
    padding: 8px 12px;
    font-size: 20px;
}

.resetBtn{
    padding: 14px 30px;
    background-color: rgb(91, 212, 11);
    border: none;
    margin-top: 20px;
    color:white;
    font-size: larger;
    cursor: pointer;
}